@import "tailwindcss";

.blue-tone {
  filter: hue-rotate(170deg) saturate(1.6) brightness(0.8);
}

.ocean-blue .leaflet-tile {
  filter: hue-rotate(175deg) saturate(1.6) brightness(0.9);
}

.ocean-layer {
  filter: saturate(0.6) brightness(0.8); /* ทำให้ดูแบบ stylized ลดความ realistic */
  mix-blend-mode: multiply; /* ผสมกับชั้นล่างให้ดูเรียบ */
}

/* ===========================
   ALERT ICON PULSE + GLOW
   =========================== */
.alert-pulse-glow {
  width: 34px;
  height: 34px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;

  /* ทำให้มันเต้น + glow ไปด้วยกัน */
  animation: alertPulseScale 1.1s infinite ease-in-out,
    alertPulseGlow 1.1s infinite ease-in-out;
}

.alert-pulse-glow img {
  width: 70%;
  height: 70%;
}

.bangkok-glow {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 0 15px 5px rgba(255, 0, 0, 0.7);
  border: 2px solid white;
}


/* ขยาย → ย่อ */
@keyframes alertPulseScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

/* Glow สีแดงกระพริบ */
@keyframes alertPulseGlow {
  0% {
    box-shadow:
      0 0 0px rgba(255, 0, 0, 0.0),
      0 0 6px rgba(255, 80, 80, 0.5);
    filter: brightness(1);
  }

  50% {
    box-shadow:
      0 0 10px rgba(255, 0, 0, 0.9),
      0 0 25px rgba(255, 0, 0, 0.7);
    filter: brightness(1.25);
  }

  100% {
    box-shadow:
      0 0 0px rgba(255, 0, 0, 0.0),
      0 0 6px rgba(255, 80, 80, 0.5);
    filter: brightness(1);
  }
}

/* ถ้ายังไม่มี เอาไว้เพิ่ม glow ให้จุดบนเส้นด้วย */
.circle-marker-glow {
  filter: drop-shadow(0 0 6px rgba(0, 255, 255, 0.9));
}




/* ===============================
   NETWORK LINK GLOW (FINAL)
================================ */

.link-line-outer {
  filter:
    drop-shadow(0 0 6px rgba(0, 255, 255, 0.55))
    drop-shadow(0 0 12px rgba(0, 255, 255, 0.6));
}

/* Inner neon – คมแต่ไม่ฟุ้งเกินไป */
.link-line-inner {
  stroke-linecap: round;
  filter:
    drop-shadow(0 0 4px rgba(150, 255, 255, 0.5))
    drop-shadow(0 0 8px rgba(150, 255, 255, 0.3));
}


/* MOVING DOT */
/* .circle-marker-glow {
  filter:
    drop-shadow(0 0 4px rgba(0, 255, 255, 0.8))
    drop-shadow(0 0 9px rgba(0, 255, 255, 0.7));
} */

/* OCEAN COLORING */
.ocean-tile {
  filter: hue-rotate(10100deg) saturate(3.2) brightness(0.55)
    contrast(3) !important;
}


/* Scroll */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #1b1d20;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #2c2f33;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #3a3d41;
}












