@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee 8s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}


@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-left {
  display: inline-block;
  animation: scroll-left 10s linear infinite;
}