# requirements.txt
# 
# Setup Instructions:
# 1. Open VS Code Command Palette: Ctrl + Shift + P
# 2. Type: "Python: Select Interpreter"
# 3. Select: .\backend\venv\Scripts\python.exe
#
# Installation (run from backend folder):
# python -m venv venv (-3.11, -3.12, ...)
# venv\Scripts\activate
# pip install -r requirements.txt
#
# Note: Requires Python 3.12 or lower (3.14 not supported yet)
# python -m app.drop_tables
# D:\Rtarf-analytic-web\rtarf-analytic-web\cycop1\backend\venv\Scripts\python.exe -m pip install

flask
flask-cors
elasticsearch==8.15.0
requests
fastapi==0.115.0
uvicorn==0.30.0
python-dotenv==1.0.0
pydantic==2.9.0
aiohttp
python-dateutil
pydantic-settings

# for automatic sync
apscheduler==3.10.4

# Database ProgreSQL
psycopg2-binary
sqlalchemy

# สำหรับสร้าง node
geoalchemy2
shapely


