# Ignore Python virtual environments
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore git and Docker files
.git/
.gitignore
Dockerfile
.dockerignore

# Ignore logs and temp files
*.log
*.sqlite3
*.db
*.env
