# Dependencies
node_modules

# Build
dist
.vite

# Environment
.env
.env.local
.env.*.local

# Git
.git
.gitignore

# IDE
.vscode
.idea
.DS_Store

# Logs
*.log

# Docker
Dockerfile*
docker-compose*.yml
.dockerignore

# Misc
README.md
coverage